<!-- <p>Logged in as {{ user.displayName }}!</p> -->
<button class="btn btn-dark">Create New Post</button>
<form class="py-2">
	<div class="form-group">
		<input class="form-control" #new_post_title type="text" placeholder="Enter Post Title" (keyup.enter)="onEnter(new_post_title);">
	</div>
</form>

<h3>Posts</h3>
<ul class="list-unstyled">
	<li class="mb-3 pb-2" *ngFor="let post of posts | async">
       	{{ post.data.title }} &nbsp;&nbsp; <a class="btn btn-sm btn-dark" href="/editor/post/{{ post.id }}">Open</a>
     	</li>
</ul>
